:root {
  --bg2:  #0f0f1a;
  --bg3:  #171726;
  --bg4:  #1e1e30;

  --border:  rgba(255,255,255,0.06);
  --border2: rgba(255,255,255,0.11);
  --border3: rgba(255,255,255,0.18);

  --text:  #eeeef8;
  --text2: #8888aa;
  --text3: #4a4a66;

  --gold:    #e8c46a;
  --gold2:   #c4993a;
  --gold3:   rgba(232,196,106,0.12);
  --green:   #4fd98a;
  --green2:  rgba(79,217,138,0.12);
  --red:     #e85a5a;
  --red2:    rgba(232,90,90,0.15);
  --blue:    #5a9ae8;
  --blue2:   rgba(90,154,232,0.12);
  --purple:  #a05ae8;
  --orange:  #f0a060;

  --r:   10px;
  --rl:  16px;
  --rxl: 22px;
}
